* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* height of the container */
.leaflet-container {
  height: 70vh;
  width: 100vh;
  border-radius: 2rem;
}
