#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* height of the container */
.leaflet-container {
  height: 70vh;
  width: 100vh;
  border-radius: 2rem;
  text-align: center;
}
